.h1 {
  color: #bfd72e;
  text-align: center;
  margin-top: 5vw;
}

.container_up {
  width: 62%;
  height: 394px;
  color: black;
  display: flex;
  margin: auto;
  margin-top: 5vw;
}

.text_container_up {
  padding: 1vw;
  text-align: center;
}

.text_container_up h2 {
  font-size: 2rem;
  color: #0070bb;
  letter-spacing: 1vw;
}

.container_down {
  width: 62%;
  height: 394px;
  color: black;
  display: flex;
  margin: auto;
  margin-top: 2vw;
}

.text_container_down {
  padding: 1vw;
  text-align: center;
}

.text_container_down h2 {
  font-size: 2rem;
  color: #0070bb;
  letter-spacing: 1vw;
}

.button {
  background-color: #bfd72e;
  color: white;
  width: 12vw;
  border-radius: 10px;
  border: transparent;
  font-size: 24px;
  padding: 1vw;
  cursor: pointer;
}

.line {
  margin-top: 2vw;
  height: 1vw;
  border: transparent;
  background-color: transparent;
}

.img {
  margin-top: 5vw;
  width: 99.1vw;
}

.last_container {
  width: 64%;
  height: fit-content;
  color: black;
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 80%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
  display: flex;
  width: 100%;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 20px;
}

@media (max-width: 1200px) {
  .container_up {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .image {
    width: 65%;
    height: auto;
    margin: auto;
    margin-left: 10vw;
  }

  .container_down {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .image2 {
    width: 100%;
    height: auto;
    margin-top: 2vw;
  }

  .button {
    width: 50%;
    height: auto;
  }

  .line {
    background-color: #bfd72e;
    margin-top: 6vw;
    animation: move 4s;
  }

  @keyframes move {
    0% {
      transform: translateX(100vw);
    }
  }
}
