.container {
  width: 50%;
}

.h2 {
  font-size: 2.5em;
  color: #bfd72e;
  text-align: center;
}

.head {
  display: flex;
  justify-content: space-between;
}

.input {
  width: 100%;
  height: 3vw;
  border-radius: 10px;
}

.button {
  width: 100%;
  background-color: #bfd72e;
  color: white;
  border-radius: 10px;
  border: transparent;
  font-size: 20px;
  padding: 1% 2%;
  margin-top: 2vw;
  margin-bottom: 1vw;
  cursor: pointer;
}

.input_content {
  width: 100%;
  height: 20vw;
  border-radius: 10px;
}

.button_container {
  display: flex;
  justify-content: center;
  margin-bottom: 8.25vw;
}

.add_button {
  width: 8vw;
  height: 2vw;
  background-color: #bfd72e;
  color: white;
  border-radius: 10px;
  border: transparent;
  margin-top: 1vw;
  font-size: 20px;
  padding: 1% 2%;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 20px;
}
